<!doctype html>
<html>
<head>
    <title>Lottery - Participate</title>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-timer/1.3.4/angular-timer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/humanize-duration/3.10.0/humanize-duration.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
</head>
<body>
    <div id="content" ng-app="LotteryApp" ng-controller="LotteryController">
      <div class="alert alert-danger" role="alert" ng-show="$alert">{{$alert}}</div>
      <h1>Your Identity</h1>
      <form id='node'>
        <label for="id">Your own ID: </label>
        <input name="id" ng-model="id" ng-disabled="!getId">
        <button type="button" ng-show="getId" ng-click="createNode()">Set ID</button>
      </form>
      <div ng-show="!getId">
        <h1>Invitation</h1>
        <p>
          Please share this link: <a ng-href="{{invitationLink}}">{{invitationLink}}</a>
        </p>
      </div>
      <h1>Result</h1>
      <p>
        <timer countdown="countdown" interval="1000">
          Remaining time in seconds: {{countdown}}
        </timer>
      </p>
      <dl>
        <dt>Winner</dt>
        <dd>{{winner}} (from {{participantCount}} participants)</dd>
        <dt>Own ID</dt>
        <dd>{{ownID}}</dd>
      </dl>
      The winner has the smallest distance to the root aggregate hash: {{result.iD}}
      <pre>
        {{result | json}}
      </pre>

    <script src="lottery.browser.js"></script>
</body>
</html>
